<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DeploymentDBContext.Properties.Settings.DeploymentDbConnectionString"
            connectionString="Data Source=.;Initial Catalog=DeploymentDb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>